.product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
  background: $white;
  &__pic {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;

    background: #f5f6f8;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    &:hover {
      .product__img {
        transform: translate(-50%) scale(1.1);
      }
    }
  }
  &__tag {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 1px 8px;
    color: $white;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    border-radius: 4px;
    background: var(--danger, #ff4242);
    z-index: 3;
    pointer-events: none;
  }
  &__stock {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 1px 8px;
    color: $white;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    border-radius: 4px;
    background: var(--danger, #008844);
    z-index: 3;
    pointer-events: none;
  }
  &__stock__out {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 1px 8px;
    color: $white;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    border-radius: 4px;
    background: var(--danger, #ff4242);
    z-index: 3;
    pointer-events: none;
  }
  .product__likes {
    position: absolute;
    top: 10px;
    right: 10px;
    background: $white;
    &:hover {
      background: $white;
      .product__likes__btn {
        color: $main-color;
      }
    }
    &.product__likes__active {
      background: $white;
      .product__likes__btn {
        color: #ff4242;
        svg path {
          fill: #ff4242;
        }
      }
    }
  }
  .product__likes__btn {
    color: $gray;
    transition: color 0.3s ease;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 300px;
    margin: 0 auto;
    transition: transform 0.5s ease;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__title {
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
  }
  &__prices {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
    &__new {
      color: $black;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 31.2px */
    }
    &__old {
      color: $gray;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-decoration-line: line-through;
    }
  }
  &__bottom {
    position: relative;
    width: 100%;
    padding: 0;
    background: $white;
  }
  .product__btn {
    width: 100%;
    padding: 8px;
    border: none;
    text-decoration: none;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
  }
}
